.animation { visibility:visible; }

.feature-image .feature-image-pointer.left:focus{ pointer-events: none; }

.feature-image .feature-image-pointer.left .pointer-elemen:after, .feature-image .feature-image-pointer.right .pointer-elemen:after, .feature-image .feature-image-pointer .pointer-text { 
	opacity:1;
}

.feature-image .feature-image-pointer.left .pointer-elemen:after{ 
	margin-left:0px;
} /* digunakan untuk animasi agar berjalan dari kanan ke kiri */
		
.feature-image .feature-image-pointer.right .pointer-elemen:after{ 
	margin-left:156px;
} /* digunakan untuk animasi agar berjalan dari kiri ke kanan */

.feature-image .feature-image-pointer .pointer-icon:after{ 
	width:122px;
}

.feature-image .feature-image-pointer .pointer-text{ 
	visibility:visible;
}

/* ketika pointer di klik untuk menutup*/
.feature-image .feature-image-pointer.show-end .pointer-elemen:after{ transition: all .2s linear; }

.feature-image .feature-image-pointer.show-end .pointer-text{ transition:.1s ease; }

.carousel-slider > div, .carousel-slider.affa-client-logo-slider > div{ display:none; }


@media (min-width: 1200px){
	.carousel-slider > div:first-child, .carousel-slider.affa-client-logo-slider > div:nth-child(2), .carousel-slider.affa-client-logo-slider > div:nth-child(3), .carousel-slider.affa-client-logo-slider > div:nth-child(4), .carousel-slider.affa-client-logo-slider > div:nth-child(5), .carousel-slider.affa-client-logo-slider > div:nth-child(6) { display:inline-block; }
}

@media (min-width: 992px) and (max-width: 1200px){
	.carousel-slider > div:first-child, .carousel-slider.affa-client-logo-slider > div:nth-child(2), .carousel-slider.affa-client-logo-slider > div:nth-child(3), .carousel-slider.affa-client-logo-slider > div:nth-child(4), .carousel-slider.affa-client-logo-slider > div:nth-child(5) { display:inline-block; }
}

@media (max-width: 825px){
	.feature-image .feature-image-pointer.top .pointer-icon:after, .feature-image .feature-image-pointer.bottom .pointer-icon:after{ 
		height:120px;
		margin:auto;
	}
	
		.feature-image .feature-image-pointer.top .pointer-elemen:after{ margin: 0px auto 120px; }
		.feature-image .feature-image-pointer.bottom .pointer-elemen:after{ margin: 156px auto 0px; }
		.feature-image .feature-image-pointer.medium.bottom .pointer-elemen:after{ margin: 96px auto 0px; }
	
	.feature-image .feature-image-pointer.short.top .pointer-elemen:after{ margin: 0px auto; }
	.feature-image .feature-image-pointer.medium.top .pointer-elemen:after{ margin: 6px auto 0px; }
	.feature-image .feature-image-pointer.short.bottom .pointer-elemen:after{ margin: 75px auto 0px; }
	
	.feature-image .feature-image-pointer.short .pointer-icon:after{ height:40px; }
	.feature-image .feature-image-pointer.medium .pointer-icon:after{ height:60px; }
}

@media (min-width: 501px) and (max-width: 992px){
	.carousel-slider > div:first-child, .carousel-slider.affa-client-logo-slider > div:nth-child(2), .carousel-slider.affa-client-logo-slider > div:nth-child(3) { display:inline-block; }
}

@media (max-width: 500px){
	.carousel-slider > div:first-child { 
		display:block;
		margin:20px auto;
		width:90%;
	}
}